{% extends "auctions/layout.html" %}

{% block body %}
    <h4>{{ category }} All categories</h4>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="collection shadow">
                {% for category in categories %}
                    <a   href="{% url 'category_listings' slug=category.slug %}" class="collection-item">
                        <span class="new badge blue" data-badge-caption="items">
                            {{ category.listings.count }}
                        </span>
                        {{ category.name }}
                    </a>
                {% empty %}
                    <p class="collection-item">No categories created yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}